<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/output.css" />
    <title>Pratik Weather</title>
  </head>
  <body>
    <div class="w-screen flex flex-col justify-center">
        <img src="/assets/error.svg" alt="error">
        

    </div>
    <div class="flex justify-center">
         <button type="button" class=" py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Go Back</button>
    </div>
   
  </body>
  <script src="/flowbite.min.js"></script>

</html>